#BibleApp{
    margin: 100px 50px;
}
.bible{
    padding-top: 100px;
    
}
li{
    display: inline-block;
    height: 30px;
    width: 150px;
    margin-bottom: 15px;
    list-style: none;
    text-align: center;
    
}
.nav--hidden{
    transform: translateY(-100px);
    box-shadow: none;
    }
    #navcross:hover{
        display: inline-block;
        height: 30px;
        width: 150px;
    }
    #navitem {
        display: inline-block;
        position: relative;
        z-index: 1;
        padding: 4em;
        margin: -4em;
        -webkit-text-stroke: 1px black;
        color: white;
        text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff; 
      }
      #navitem:hover{
        display: inline-block;
        height: 30px;
        width: 120px;
        padding: 10px 15px 0px 15px;
        border: solid 2.5px black;
        border-radius: 50px;
        background: rgb(255, 255, 255);
        margin: 22.5px -2.25px -22.5px -3.1px;
    }
    .navheader{
        position: fixed;
        display: block;
        text-align: center;
        width: 100%;
        /*background-image: url("https://images.pexels.com/photos/1028546/pexels-photo-1028546.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
        */z-index: 2;
        object-position: bottom 5%;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px 0px;
        transition: 0.2s;
    }
    ul{
        list-style: none;
    }
    a[href*="About"], a[href*="Views"], 
a[href*="Bible"], a[href*="Forums"]{
    color: black;
    text-decoration: none;
}