*{
    margin: 0px;
    padding: 0px;
}
.nav-menu-hide{
    position: absolute;

}
.crosspic{
    margin-top: 500px;
}
#icon{
    height: 10%;
    width: 50%;
    position: relative;
    margin: 80px auto -100px 418px;
    display: block;
}
.icon_caption{
    margin: 140px auto -120px -10px;
    text-align: center;
    line-height: 0px;
    font-weight: bold;
    font-size: 40px;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff; 
}
.whitecloud{
    z-index: -1;
    position: relative;
    height: 350px;
    width: 350px;
    margin: -80px 710px;
}
.contact{
    margin: -140px 760px;
    width: 250px;
    height: 50px;
    font-weight: 900;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    display: inline-block;
    border: rgb(255, 255, 255) 2px solid;
    background-color: rgba(255, 255, 255, 0.793);
    color: rgb(251, 255, 0);
    text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000; 
}
a[href*="contact"]
{
    text-decoration: none;
}
.arrow{
    margin: -50px 800px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.bible_video{
    position: absolute;
    bottom: -300px;
    top: auto;
    max-width: 1726px;
    max-height: 1320px;
    z-index:-1;
}
p{
color: rgb(26, 109, 26);
}
main{
    top: 20px;
    position: absolute;
}
.beginning h2{
    top: 30px;
}
.newhorizonhead{
    color: black;
    font-family: cursive;
    border: 3px solid rgb(255, 255, 255);
    position: sticky;
    top: 70px;
    margin-top: 10%;
    z-index:1;
    padding-right: 0%;
}
#belief{
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}
.cross{
    text-transform: lowercase;
    font-weight: bolder;
    margin: 10px 0px 0px 100px;
}
header li{
    display: inline-block;
    height: 30px;
    width: 150px;
    margin-bottom: 15px;
    
}
.nav--hidden{
transform: translateY(-100px);
box-shadow: none;
}
#navcross:hover{
    display: inline-block;
    height: 30px;
    width: 150px;
}
#navitem {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 4em;
    margin: -4em;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff; 
  }
/*#navitem{
    border: solid 2.5px transparent;
}*/
#navitem:hover{
    display: inline-block;
    height: 30px;
    width: 120px;
    padding: 10px 15px 0px 15px;
    border: solid 2.5px black;
    border-radius: 50px;
    background: rgb(255, 255, 255);
    margin: 22.5px -2.25px -22.5px -3.1px;
}
header{
    position: fixed;
    display: block;
    text-align: center;
    width: 100%;
    /*background-image: url("https://images.pexels.com/photos/1028546/pexels-photo-1028546.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    */z-index: 2;
    object-position: bottom 5%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 0px;
    transition: 0.2s;
}
ul{
    list-style: none;
}


a[href*="About"], a[href*="Views"], 
a[href*="Bible"], a[href*="Forums"]{
    color: black;
    text-decoration: none;
}
#subhead{
position: relative;
top: 90px;
}
#VerseOfDay{
    font-size: 100;
}
.container{
    margin: 50px auto;
}

img[src*="Parker"]{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    margin: 150px 0px 5px 5px;
}

h1{
    margin: 250px 0px 0px 350px;
}
h2{
    margin: 250px 0px 0px 350px;
}
p{
    margin: 250px 0px 0px 350px;
}
